<input type="text" class="form-control" [formControl]="control"
    [ngClass]="{ 'is-invalid': showMsg()}">
<ng-container *ngIf="showMsg()">
    <div *ngIf="control.errors?.['required']" class="invalid-feedback">
        Please fill in the field
    </div>
    <div *ngIf="control.errors?.['minlength']" class="invalid-feedback">
        The value you entered is {{ control.errors?.['actuallength'] }} characters long
        It must be atleast {{ control.errors?.['minlength'].requiredLength }} characters long
    </div>
</ng-container>
